# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env
*.egg-info/

# IDE
.vscode/
.idea/
.DS_Store

# Logs
logs/
*.log

# Airflow
airflow.db
airflow.cfg
webserver_config.py
standalone_admin_password.txt

# Data
data/
*.parquet

# Secrets
*.pem
*.key
service-account*.json
